<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultas</title>
    <!-- CSS e Script do FullCalendar -->
    <link rel="stylesheet" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <div id="calendar" style="margin: 0 auto; max-width: 1200px;"></div>

    <script>
        const element = document.getElementById('calendar');
        const calendar = new FullCalendar.Calendar(element, {
            initialView: 'dayGridMonth',
            locale: 'pt-br'
        });

        calendar.render();
    </script>
</body>
</html>